.sample {
    background-color: white;
}

.container {
    max-height: 80vh;
    overflow: scroll;
}

.registrationFormContainer {
    width: 54rem;
    margin-top: 120px;
}

.registrationFormLegend {
    width: 100%;
    background: #dee2e6;

}

.inputStyle {
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
}

.inputStyle:hover {
    background: lightblue;
    padding: 10px;
    margin-bottom: 5px;
}
